.chat__message__sender {
    width: 1rem;
    height: 1rem;
    font-size: 0.75rem;
    color: #fff;
    padding: 0.5rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.65rem;
}

.chat__message {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0.5rem 0;
}


.chat__message__user {
    justify-content: flex-end;
}

.chat__message__text__user {
    background-color: #2f2f2f;
    color: #fff;
    border-radius: 1rem;
    max-width: 60%;
    padding: 0.8rem 1.25rem;
    line-height: 1.75;
}

.chat__message__text {
    display: flex;
    flex-direction: row;
    color: #fff;
    padding: 0.8rem 1.1rem;
    line-height: 1.75;
}